.container
  %br/
  .row
    .span4{style:'margin-left:0px;'}
      %h3 Photo Curation    
      
  .row
    .row{style:'margin-bottom:10px;'}
      = form_tag(admin_photos_index_path, id: 'admin_import_activity', method: :get, class:'form-search') do
        .span2
          = select_tag :filter_location, options_for_select(Location.activity_locations.collect{|location| [location.name, location.id]}, params[:filter_location]), style: 'width: 100%;', prompt: "-- Select Location --", onchange:"javascript: form.submit();"
        .span2
          = select_tag :filter_category, options_for_select(Category.all_categories.collect{|cat| [cat.name.join("->"), cat.id]}, params[:filter_category]), style: 'width: 100%;', prompt: "-- Select Category --", onchange:"javascript: form.submit();"
        .span2
          = select_tag :filter_photo_state, options_for_select(Logo::STATE.map{|state| state.capitalize}, params[:filter_photo_state]), style: 'width: 100%;', prompt: " All ", onchange:"javascript: form.submit();"
        .span1
          = select_tag :filter_limit, options_for_select(['10','25','50','100'], params[:filter_limit]), style: 'width: 100%;', include_blank: false, onchange:"javascript: form.submit();"
        .span3.pull-right
          .input.input-prepend{style:'width:88%;'}
            %button{type:'submit',class:'btn', style:'padding: 4px 8px;'}
              %i.icon-search{:onclick=>'javascript:$("#admin_import_activity").submit()',style:'margin-top:2px;'}
            = text_field_tag 'search', params[:search], :class=>'span3 search-query', placeholder:'Merchant or Activity Name', style:'padding-left:5px;padding-right:5px;width:100%;'
            %span.fornav-end
              %i.icon-remove-sign{:onclick=>'javascript:$("#admin_import_activity .search-query").val(""); $("#admin_import_activity").submit()',style:'margin-left: -21px;margin-top: 8px;position: absolute;cursor:pointer;'}
            = hidden_field_tag :activity_id
            = hidden_field_tag :order, params[:order].nil? ? @order_type : params[:order]
            = hidden_field_tag :order_type, params[:order_type].nil? ? "ASC" : params[:order_type]
  .row.photo-content
    %table.table.table-hover.table-condensed.table-bordered.table-striped
      %thead
        %tr
          %th{style:'width:20%'} Activity Thumb
          %th{style:'width:15%'} Location
          %th{style:'width:15%'} Merchant
          %th{style:'width:15%'} Activity
          %th{style:'width:7%'} 
            Pending
            %a.sort-btn{style: 'float: right;', "data-order" =>'pending'}
              .img-div{:class=>"pending_#{params[:order]}-#{@order_type}"}
          %th{style:'width:8%'} 
            Approved
            %a.sort-btn{style: 'float: right;', "data-order" =>'approved'}
              .img-div{:class=>"approved_#{params[:order]}-#{@order_type}"}
          %th{style:'width:5%'} Curate
      %tbody
        - @all_activites.each do |act|
          - act = Activity.find(act[:id]) if params[:order].present?
          %tr
            %td{style:'text-align: center;vertical-align: bottom;'}= x_image_tag(act.second_img, style:'width: 150px;height:100px;')
            %td{style:'text-align: center;vertical-align: bottom;'}= act.full_city
            %td{style:'text-align: center;vertical-align: bottom;'}= act.merchant.name
            %td{style:'text-align: center;vertical-align: bottom;'}= act.name
            %td{style:'text-align: center;vertical-align: bottom;'}= act.pending_count
            %td{style:'text-align: center;vertical-align: bottom;'}= act.approved_count
            %td{style:'text-align: center;vertical-align: bottom;'}
              = link_to(admin_photo_curate_path(act), class: 'btn btn-mini', :"data-no-turbolink"=>true) do
                %i.icon-pencil
      %tfoot
        %tr
          %td.digg_pagination{colspan:7}
            - if params[:order].present?
              = will_paginate @all_acts, previous_label: '< PREV', next_label: 'NEXT >' if @all_activites.present?
            - else
              = will_paginate @all_activites, previous_label: '< PREV', next_label: 'NEXT >' if @all_activites.present?

:javascript
  var activities = #{@activities};
  $("#search").autocomplete({
    dataType: "json",
    source: activities,
    minLength: 2,
    select: function(event, ui){
      $("#activity_id").val(ui.item.id);
      $("#admin_import_activity").submit();
    }
  });              

  $(".sort-btn").click(function(e){
    $("#order").val($(this).data("order"));
    if ($(this).data("order") == '' ) return false;
    if($("#order_type").val() == "ASC"){
      $("#order_type").val("DESC");    
    }else{
      $("#order_type").val("ASC");    
    }
    $("#admin_import_activity").submit();
  })
