- if @search_results.count > 0
  - @search_results.each do |result|
    %tr
      %td= result[0]
      %td= result[1]
      %td= result[2]
      %td= result[3]
      %td= result[4]
      %td= result[5]
      %td= result[6]
      %td= result[7]