%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    = link_to "wechatshop", root_path, id:"logo"
    %nav
      %ul.nav.navbar-nav.pull-right
        %li= link_to "Home", root_path
        - if user_signed_in?
          - if current_user.role == '1'
            %li= link_to "Users", users_path
            %li= link_to "ChatHisotry", chathistories_path
          %li.dropdown
            %a.dropdown-toggle{href:'#', data:{toggle:"dropdown"}}
              %strong= current_user.email
              %b.caret
            %ul.dropdown-menu
              %li= link_to "Profile", edit_registration_path(current_user)              
              %li.divider
              %li= link_to "Log out", destroy_user_session_path, method: :delete
        - else
          %li= link_to "Log in", new_user_session_path