%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    = link_to "wechatshop", root_path, id:"logo"
    %nav
      %ul.nav.navbar-nav.pull-right
        %li= link_to "Home", root_path
        - if user_signed_in?
          Logged in as 
          = succeed "." do
            %strong= current_user.email
          %li.dropdown
            %a.dropdown-toggle{href:'#', data:{toggle:"dropdown"}}
              Account
              %b.caret
            %ul.dropdown-menu
              %li.divider
              %li= link_to "Log out", destroy_user_session_path, method: :delete
        - else
          %li= link_to "Log in", new_user_session_path